
*.vsidx
*.dll
Sistema Control de Asistencia Cervantes/.vs/Sistema Control de Asistencia Cervantes/v17/.suo
*.pdb
*.dll
*.cache
Sistema Control de Asistencia Cervantes/obj/Debug/net6.0/Sistema Control de Asistencia Cervantes.csproj.FileListAbsolute.txt
*.pdb
Sistema Control de Asistencia Cervantes/obj/staticwebassets.pack.sentinel
*.editorconfig
*.props
Sistema Control de Asistencia Cervantes/.vs/ProjectEvaluation/sistema control de asistencia cervantes.metadata.v5.1
Sistema Control de Asistencia Cervantes/.vs/ProjectEvaluation/sistema control de asistencia cervantes.projects.v5.1
*.v2
Sistema Control de Asistencia Cervantes/obj/Sistema Control de Asistencia Cervantes.csproj.nuget.dgspec.json
Sistema Control de Asistencia Cervantes/obj/project.assets.json
Sistema Control de Asistencia Cervantes/obj/Debug/net6.0/staticwebassets.build.json
Sistema Control de Asistencia Cervantes/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Sistema Control de Asistencia Cervantes/bin/Debug/net6.0/Sistema Control de Asistencia Cervantes.runtimeconfig.json
Sistema Control de Asistencia Cervantes/bin/Debug/net6.0/Sistema Control de Asistencia Cervantes.deps.json
Sistema Control de Asistencia Cervantes/.vs/ProjectEvaluation/sistema control de asistencia cervantes.metadata.v5.2
Sistema Control de Asistencia Cervantes/.vs/ProjectEvaluation/sistema control de asistencia cervantes.projects.v5.2
